/tmp
/public/assets/manifest*
/public/assets/*-*
/public/assets/jscolor/*-*
/public/system/
/db/development.log
/db/development.sqlite3
/db/production.sqlite3
/db/schema.rb
/db/seeds.rb
/log
faye.ru
.bundle/install.log
