<div class='col-sm-9'>
<u>Account Guidelines</u>

<p>By registering an account on www.elizahugh.com  You are confirming that you have provided accurate information to Eliza Hugh (R), LLC You have authority to place orders and are accepting our terms, description of out services, items, prices.  Eliza Hugh (R), LLC reserves the right to terminate a registered account at any time.  You are responsible for your user name, password, and all activities in placing orders through this account. </p>

<u>Payment</u>
 
<p>Eliza Hugh (R),LLC accepts Visa, Mastercard, Discover, American Express. </p>

<u>Custom Order Guidelines</u>

<p>Please allow 3-4 weeks for custom orders.  Should you need something sooner, please contact us directly. </p>

<u>Returns</u>

<p>Custom orders are final sale.  We accept returns in the same condition that they were sent out within 14 days for a full refund excluding shipping fees.  Eliza Hugh (R),LLC can not be responsible for return shipments lost in transit.  Address for returns:  Eliza Hugh (R)  82 Main Street Bridgton, ME  04009 </p>

<u>Security</u>

<p>Eliza Hugh (R) ,LLC does everything possible to maintain secure transactions.  Customers can make a purchase without creating an account or can create an account during a purchase whereby the information will be stored for future visits. </p>

<u>Operation</u>

<p>This website is operated by Eliza Hugh(R), LLC.  All policies are effective as of May 2014. </p>  
	    

<h5> <%= link_to "Back to Previous Page", :back, :class => "btn btn-default btn-sm" %> </h5>
</div>
