// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkoutFoot {text-align:right}
.cart {overflow:auto;height:360px;}
.cartSummary {height:130px;}
.cartSummary ul {padding-left:0px;margin-left:-5px;}
.cartSummary li {border-bottom: 1px dashed;margin:5px;font-family: Papyrus, fantasy;}
.total {border-bottom:0px !important;font-weight:bold;font-size:15px;}
.new_billing_address div {display:inline-block;}
.new_shipping_address div {display:inline-block;}
.state {margin: 2px;padding:1px;font-size:12px; font-weight:normal;}
label {font-family: Papyrus, fantasy;}