.tnav .navbar .container .navbar-default { height: 28px; }
.head {padding-top:20px;height:90px;background:url("/assets/foxpumpkin.png");background-size:100% 800px; background-position:0% 66%;}
.headnav {height:30px;min-height:30px;background:white;}
.headnav li a {padding:2px 10px;}
.foot{background:url("/assets/foxpumpkin.png");background-size:100%; background-position:10% 80%;}
body {padding-top:0px;} 
.hero-unit {
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #ddd;
  color: inherit;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 20px;
}
.specials .alert:hover {cursor:pointer;border:1px solid #FA0;opacity:0.8}
.specials {
	margin-top:20px;
}
.fl {height:100px;background:white;opacity:0.8;}
.logo {margin-left:-30px;}
#myCarousel {margin-top:25px;}
