<%= javascript_include_tag "products" %>
<div class="">
	<div class="col-xs-2">
	   <%= render 'filter' %>	
	</div>
	<div  id="productList" class="col-xs-10">
	  <%= render 'images' %>
	</div>
</div>
