<%= javascript_include_tag "products" %>
<div class="col-md-12">
	<div class="col-md-2">
	   <%= render 'filter' %>	
	</div>
	<div  id="productList" class="col-md-10">
	  <%= render 'images' %>
	</div>
</div>
