<div class="">
	  <div class="col-md-6">
	    <%= image_tag @product.image.url(:large), :size => "450x350"%>
	  </div>
	  <div class="col-md-5">
	    <h3><%= @product.title %></h3>
	    <p class="whitespace"><%= @product.description %></p> 
	    <p class="price">$<%=  sprintf("%.2f", (@product.price)) %></p> 
      </div>
</div>