  <div class="row">    
    <div class="container"> 
	      <div class="foot well row">
	        <div class='fl'>

	      <div class="col-sm-1"></div>
	          <div class="col-sm-3">
	            <ul class="list-unstyled">
	  	          <li><h5> Products </h5></li>
	              <li><a href="#"> Clothes </a></li>
         	  <li><a href="#"> Accessories </a></li>
	             </ul>
	          </div>
	          <div class="col-sm-3">
	            <ul class="list-unstyled">
	  	          <li><h5> Friends </h5></li>
	  	          <li><a href="#"> About Us</a></li>
	              <li><a href="#"> Community </a></li>
	            </ul>
	          </div>
	          <div class="col-sm-3">
	            <ul class="list-unstyled">
	  	          <li><h5> Contact Us </h5></li>
	  	          <li> (123) 456-7890
	              	<a href="mailto:#">elizaHugh@example.com</a>
	  	          </li>
	            </ul>
	          </div>
	          <div class="col-sm-2">
	            <ul class="list-inline pull-right">
	         	  <li>Follow Us!</li>
	           	  <li><a href="#"> <i class="icon-large icon-facebook-sign"></i> </a></li>
	              <li><a href="#"> <i class="icon-large icon-twitter-sign"></i> </a></li>
	            </ul>
	          </div>
	        </div>
	      </div>  
    </div>
</div>