<div class="foot well col-md-12">
    <div class='fl'>
       <ul class="list-inline"> 
         <li class="">   
			<address>
			  82 Main St | Bridgton, Maine | 04009 <br>
			  <abbr title="Phone">ph:</abbr>  207.803.8052 <br>
			  email: <a href="mailto:#">barbara@elizahugh.com</a>
			</address>
         </li>
       	 <li class="pull-right"><a href="https://www.facebook.com/pages/Eliza-Hugh/480466615361667"><i class="fa fa fa-facebook-square fa-2x"></i></a></li>
       	 <li class="pull-right"><a href="http://www.linkedin.com/pub/barbara-roetman/88/34b/a51"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
      </ul>
    </div>
</div>  


