    <div class='container'>
       <ul class="foot"> 
         <li class="col-sm-5 address">   
			<address>
			  82 Main St | Bridgton, Maine | 04009 <br>
			  <abbr title="Phone">ph:</abbr>  207.803.8052 <br>
			  <abbr title="Email">email:</abbr> <a href="mailto:#">barbara@elizahugh.com</a>
			</address>
         </li>
         <li class="col-sm-3"><%= link_to "Terms & Conditions", welcome_terms_path %></li>
       	 <li class="col-sm-2">
       	  <a href="https://www.facebook.com/pages/Eliza-Hugh/480466615361667"><i class="fa fa fa-facebook-square fa-2x"></i></a>
       	  <a href="http://www.linkedin.com/pub/barbara-roetman/88/34b/a51"><i class="fa fa-linkedin-square fa-2x"></i></a>
       	 </li>
      </ul>
    </div>
 


