<footer class="footer">
<div class="panel">
    <div class="panel-body">
	    Stuff
    </div>
    <div class="jumbotron">
	      <div class="container">
		          <h1>Hello, world!</h1>
			      <p>...</p>
			          <p><a class="btn btn-primary btn-lg">Learn more</a></p>
				    </div>
			    </div>

   

</div>
</footer>
