  <div class="row">    
    <div class="container"> 
	      <div class="foot well row">
	        <div class='fl'>

	      <div class="col-sm-1"></div>
	          <div class="col-sm-3">
	          </div>
	          <div class="col-sm-4 addy">
	                <p>82 Main st | Bridgton, Maine | 04009 </p>
	                  <strong> (207) 803-8052 </strong>
	                
	          </div>
	          <div class="col-sm-2">
	             
	          </div>
	          <div class="col-sm-2">
	            <ul class="pull-right">
	           	 <li><a href="https://www.facebook.com/pages/Eliza-Hugh/480466615361667"> <i class="fb fa fa-facebook-square fa-2x"></i> </a></li>
	           	 <li><a href="http://www.linkedin.com/pub/barbara-roetman/88/34b/a51"> <i class="fa fa-linkedin-square fa-2x"></i> </a></li>
	            </ul>
	          </div>
	        </div>
	      </div>  
    </div>
</div>
