  <div class="row">    
    <div class="container"> 
	      <div class="foot well row">
	        <div class='fl'>

	      <div class="col-sm-1"></div>
	          <div class="col-sm-3">
	            <ul class="list-unstyled">
	  	          <li><h5> Products </h5></li>
	              <li><a href="#"> Clothes </a></li>
         	  <li><a href="#"> Accessories </a></li>
	             </ul>
	          </div>
	          <div class="col-sm-3">
	            <ul class="list-unstyled">
	  	          <li><h5> Friends </h5></li>
	  	          <li><a href="#"> About Us</a></li>
	              <li><a href="#"> Community </a></li>
	            </ul>
	          </div>
	          <div class="col-sm-3">
	            <ul class="list-unstyled">
	  	          <li><h5> Contact Us </h5></li>
	  	          <li> 
                            82 Main Street, Bridgton, Maine 04009 <br/>
                            (207) 803-8052
	  	          </li>
	            </ul>
	          </div>
	          <div class="col-sm-2">
	            <ul class="list-inline pull-right">
	           	 <li><a href="https://www.facebook.com/pages/Eliza-Hugh/480466615361667"> <i class="fb fa fa-facebook-square fa-2x"></i> </a></li>
	            </ul>
	          </div>
	        </div>
	      </div>  
    </div>
</div>
