  <%= csrf_meta_tag %> 
  <script>
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
  </script>
 
  <a href="/"><div class="row head"> <%= image_tag("ehLogo.png", :size => "270x90") %> </div></a>
  <div class="row">
  <div class="headrow col-sm-12">
    <nav class="headnav navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
      <% categories.each do |c| %>
        <li><a href="/products?&cat=<%= c.id %>"><%= c.name %></a></li>
      <% end %>
      </ul>
       <% if :current_user %>
       <li class='pull-right nav navbar-nav'><a href="authentication/logout"> </a> </li>
       <% end %>
    </nav>
  </div>
  
  </div>
