  <%= csrf_meta_tag %> 
  <script>
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
  </script>
 
  <a href="/"><div class="row head"> <%= image_tag("ehLogo.png", :size => "270x90") %> </div></a>
  <div class="row">
  <div class="headrow col-xs-12">
    <nav class="headnav navbar navbar-default" role="navigation">
      <ul class="list-inline navbar">
      <% categories.each do |c| %>
        <li><a href="/products?&cat=<%= c.id %>"><%= c.name %></a></li>
      <% end %>

       <% if current_user != nil %>
           <li class='pull-right nav navbar-nav'><a href="/admin"> Admin Page </a><a href="authentication/logout"> Logout </a> </li>
       <% end %>
      </ul>
    </nav>
  </div> 
 </div>
